@media screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}
.menu-container {
  position: relative;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.menu-container.menu-open .menu-icon {
  left: 130px; /* Ajuste conforme necessário */
  background-color: #201f1f;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 40%;
  background-color: #201f1f;
  color: #fff;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu.active {
  transform: translateX(0);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 15px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}


.banner {
  position: relative;
  width: 100%;
  height: 100px; /* Altura da imagem */
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.89);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5e1e9;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.image {
  display: flex;
  align-items: center;
  border: 1px solid rgb(250, 214, 234); 
  padding: 9px; 
  border-radius: 8px; 
}
.image img {
  max-width: 60%;
  height: auto;
  margin-right: 15px;
  transition: transform 0.4s ease; /* Adicionando transição de transformação */
  border-radius: 8px;
}

.image:hover img {
  transform: scale(1.1); /* Aumenta a escala ao passar o mouse */
}
.image-description {
  font-size: 14px;
  text-align: justify;
  text-align: left;
}
.conteudo {
  margin-left: 10%;
  margin-right: 10%;
}
p {
  text-align: justify;
}
nav {
  background-color: rgb(32, 32,32);
  color: rgb(230, 182, 204);
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(230, 182, 204);
  border-radius: 6px;
}
nav a {
  color: rgb(245, 237, 241);
  text-decoration: none;
  padding: 20px;
}
.elemento {
  transition: background-color 0.3s ease;
}

.elemento:hover {
  background-color: rgb(255, 234, 248);
}
.estrela {
  font-size: 1.5rem;
  color: rgb(168, 166, 166);;
  position: relative;
  display: inline-block;
}
.estrela.amarela {
  color: rgb(255, 166, 0);;
}
.meia-estrela::after {
  content: '\2605'; 
  color: rgb(255, 166, 0);;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 50%;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Máxima largura do carrossel */
  margin:auto;
  overflow: hidden;
  border-radius: 10px; /* Adiciona bordas arredondadas */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

