@media screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}


.menu-container {
  position: relative;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background-color: transparent; /* Torna o fundo transparente */

  color: #fff;
  position: fixed;
  top: 10px; /* Distância do topo */
  left: 80%; /* Mantém à esquerda */
  z-index: 1000; /* Garante que fique acima de outros elementos */
  border: 2px solid #fff; /* Contorno */
  border-radius: 5px; /* Cantos arredondados *
}




.menu-container.menu-open .menu-icon {
  background-color: #c45f87; /* Muda apenas a cor ao clicar */
  /* Remova a propriedade left ou right */
}

.menu {
  position: fixed;
  top: 0;
  left: 6;
  width: 200px;
  height: 40%;
  
  background: linear-gradient(to right, #c56592 0%, #f1b1d6 100%);
  
  color: #fff;
  overflow: auto;
  transform: translateX(-100%); /* Oculta inicialmente */
  transition: transform 0.3s ease; /* Animação suave ao abrir */
}


.menu.active {
  transform: translateX(0); /* Mostra o menu quando ativo */
}

.menu ul li {
  display: flex;
 

    padding: 0; /* Remove o padding da lista */
    margin: 1; /* Remove a margem da lista */
  
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; /* Alinha o coração e o texto verticalmente */
  padding: 15px; /* Ajuste conforme necessário */
  margin: 5px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
  width: 100%; /* Para ocupar toda a largura do item da lista */
}

.menu ul li a::before {
  content: '♥'; /* Coração preenchido */
  color: #fff; /* Cor branca */
  margin-right: 8px; /* Espaçamento entre o coração e o texto */
}
#grad1 {
  height: 110px;
  background-color: #ff80b3;
  background-image: linear-gradient(#ff80b3, #131313);
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
}

#imagem-centralizada {
  height: auto;
  max-height: 230%; /* Limita a altura da imagem */
  margin-top: 68px;
}

. .led-line {
  width: 20px; /* Largura da linha */
  height: 200px; /* Altura da linha */
  border-radius: 10px; /* Cantos arredondados */
  background: linear-gradient(to bottom, #00ff00, #005700); /* Degradê verde */
  position: relative; /* Para o efeito de LED */
}
.led-effect {
  width: 100%; 
  height: 20px; /* Altura do efeito LED */
  border-radius: 10px; 
  background: linear-gradient(to right, #00ff00, #005700); /* Degradê verde */
  position: absolute; 
  bottom: -10px; /* Para colocar abaixo da linha */
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6), 0 0 40px rgba(0, 255, 0, 0.3); /* Efeito de brilho */
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 19);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5e1e9;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.image {
  display: flex;
  align-items: center;
  border: 1px solid rgb(250, 214, 234); 
  padding: 9px; 
  border-radius: 8px; 
}
.image img {
  max-width: 50%;
  height: auto;
  margin-right: 15px;
  transition: transform 0.4s ease; /* Adicionando transição de transformação */
  border-radius: 8px;
}

.image:hover img {
  transform: scale(1.1); /* Aumenta a escala ao passar o mouse */
}
.image-description {
  font-size: 14px;
  text-align: justify;
  text-align: left;
}
.conteudo {
  margin-left: 10%;
  margin-right: 10%;
}
p {
  text-align: justify;
}

.elemento {
  transition: background-color 0.3s ease;
}

.elemento:hover {
  background-color: rgb(255, 234, 248);
}
.estrela {
  font-size: 1.5rem;
  color: rgb(168, 166, 166);;
  position: relative;
  display: inline-block;
}
.estrela.amarela {
  color: rgb(255, 166, 0);;
}
.meia-estrela::after {
  content: '\2605'; 
  color: rgb(255, 166, 0);;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 50%;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Máxima largura do carrossel */
  margin:auto;
  overflow: hidden;
  border-radius: 10px; /* Adiciona bordas arredondadas */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}
