@media screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}
.header {
  background-color: #ffe3f3;
  padding: 20px;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://i.postimg.cc/DzWFWz4S/d678430120ce89e367db5291f6eb8863.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}
.table,
th,
td {
  border: 1px solid black;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.image {
  display: flex;
  align-items: center;
}
.image img {
  max-width: 50%;
  height: auto;
  margin-right: 15px;
}

.image-description {
  font-size: 14px;
}
.conteudo {
  margin-left: 2%;
}
p {
  text-align: justify;
}
nav {
  background-color: hsl(323, 74%, 82%);
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.conteudo {
  margin-left: 2%;
}
p {
  text-align: justify;
}
nav {
  background-color: hsl(323, 74%, 82%);
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.container {
  width: 300px;
  margin: 20px;
  margin-right: auto; /* Para alinhar à esquerda, mantendo uma margem à direita */
  margin-left: 0; /* Zerar a margem à esquerda */
}
form {
  width: 100%;
}
label {
  display: block;
  margin-bottom: 5px;
}
input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: hsl(323, 74%, 82%);
  color: white;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: hsl(323, 74%, 82%);
}